h2 {
    color: cornflowerblue;
    background-color: rgb(220, 217, 217);
    padding: 10px;
    border-radius: 8px;
}

.main-header {
    background-color: #1a1a1a;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: white;
    color: #f97777;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.skills-list li:hover {
    background-color: #ffeaea;
}

body {
    background-color: rgb(249, 119, 119);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#foto-de-perfil {
    border-radius: 50%;
    width: 200px
}

#foto-de-perfil:hover {
    scale: 1.05;
}

.contacto {
    background-color: burlywood;
    margin: 20px;
    border: 3px solid rgb(56, 150, 198);
}

.contacto img {
    border-radius: 50%;
    width: 50px;
}

img:hover {
    scale: 1.05;
}

.redes-sociales {
    background-color: #2c3e50;
    border: 3px solid #34495e;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 12px;
}

.redes-sociales a {
    display: flex;
    align-items: center;
}